*:focus {
	outline: dotted #060 3px;
	outline-offset: 2px;
}

.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.skipnavlink {
	position: absolute;
	margin: 5px;
	font-size: 0.90em;
	line-height: 1.75em;
	padding: 10px;
	color: #ffffff !important;
	background-color: #060;
	z-index: 2000;
}

.skipnavlink:focus {
	overflow: auto;
	clip: auto;
	width: auto;
	height: auto;
}

#dummy-text {
	display: none;
}

#logo {
    max-width: 300px;
    margin: 20px 20px;
}

#main-navigation {
	color: #eee;
	background: #555;
	padding: 0;
	font-size: 1.5rem;
}

#main-navigation > ul {
	padding: 0 10px;
	margin: 0;
	
}

#main-navigation > ul > li {
	padding: 0;
}

#main-navigation > ul > li > a {
	padding: 10px 14px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
}
#main-navigation > ul > li > a:hover {
	background: #008;
}
#main-navigation > ul > li > a:focus {
  outline: dotted #fff 3px;
	outline-offset: -4px;}
}


#main-navigation > ul > li > ul {
	display: none;
}

main {
	margin: 20px;
}

main + footer {
	background: #555;
	color: #fff;
	font-size: 1.25rem;
	padding: 1em 0;
	text-align: center;
	text-transform: lowercase;
}