*:focus {
	outline: dotted #14F 3px;
	outline-offset: 2px;
}

a, a:visited {
	color: #14F;
}



h1 {
	font-size: 2.25rem;
	margin: 1.125rem 0 0.5rem;
}

h2 {
	font-size: 1.75rem;
	margin: 1.125rem 0 0.5rem;
}

p { 
	margin: 0;
}

p + p {
	margin-top: 0.75rem;
}

.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.skipnavlink {
	position: absolute;
	margin: 5px;
	line-height: 1.75em;
	padding: 10px;
	color: #ffffff !important;
	background-color: #14F;
	z-index: 2000;
}

.skipnavlink:focus {
	overflow: auto;
	clip: auto;
	width: auto;
	height: auto;
}

#icons {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

#dummy-text {
	display: none;
}

#main {
	display: flex;
}

#sidebar { 
	padding-left: 1rem;
	min-width: 175px;
	max-width: 200px;
}

#sub-navigation a {
	text-decoration: none;
	font-weight: 400;
}
#sub-navigation a:hover {
	text-decoration: underline;
}
#sub-navigation a[aria-current] {
	font-weight: 600;
	color: #F00;
}

#sub-navigation {
	padding: 0.25rem 0.875rem;
	border: solid 2px #000;
}
#sub-navigation h2 {
	white-space: nowrap;
	font-size: 1.25rem;
	margin: 0;
}
#sub-navigation hr {
	margin: 0.25rem -0.875rem;
}
#sub-navigation ol {
	font-size: 1.125rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
#sub-navigation ol li {
	margin: 0.25rem 0 0;
}

#breadcrumbs ol {
		margin: 0;
		padding: 15px 0 0;
}

#breadcrumbs > ol > li {
		display: inline-block;
		font-size: 1.1rem;
		font-weight: 600;
}

#breadcrumbs > ol > li + li::before {
		content: "/";
		display: inline-block;
		padding: 0 0.375em;
}

.page-centered-content {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 900px;
	margin: 0 auto;
}

@media screen and (min-width: 900px) {
	.page-centered-content {
		padding-left: 0;
		padding-right: 0;
	}
	#main-navigation > ol > li:first-of-type {
		margin-left: -15px;
	}
}

#logo {
		max-width: 300px;
		margin: 15px 0px;
}

#main-navigation {
	color: #eee;
	background: #555;
	padding: 0;
	font-size: 1.5rem;
}

#main-navigation > ol {
	padding: 0;
}

#main-navigation > ol > li {
	padding: 0;
	display: inline-block;
}

#main-navigation > ol > li > a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
}
#main-navigation > ol > li > a:hover {
	background: #14F;
}
#main-navigation > ol > li > a:focus {
	outline: dotted #fff 3px;
	outline-offset: -4px;
}

#main-navigation > ol > li > ol {
	display: none;
}

main {
	margin: 20px;
}

main + footer {
	background: #555;
	color: #fff;
	font-size: 1.25rem;
	padding: 1em 0;
	text-align: center;
	text-transform: lowercase;
	margin-top: 2rem;
}
